/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 10vh 3vw 0;
}

.footer {
  padding: 2.5rem 0;
  color: #dbf6f1;
  border-top: .05rem solid #e5e5e5;
  background-color: rgba(9, 107, 143, 0.83);
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;

}

code {
  font-size: 80%;
}

.card-actividades{
  padding: 1rem;
  margin-bottom: 1rem;
}

.datos-fundacion{
  vertical-align: middle;
}
